h1,h2,h3,h4,h5,h6{
    color: red;
    font-style: oblique;
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times,sans-serif;
    text-align: center;
}

p{
    margin: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 12;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.class{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html { 
    background-color: rgb(24, 24, 34);
      /* background: url(/images/war.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; */
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(116, 67, 67);
    color: white;
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

img {
    border-radius: 8px;
    }
    
a{
  color: rgb(255, 255, 255);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
