h1,h2,h3,h4,h5,h6{
    color: red;
    font-style: oblique;
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times,sans-serif;
    text-align: center;

}

p{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 12;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.class{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html { 
    background: url(/images/war.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding:0;
  }
   
  .menu li{
    float: left;
    position: relative;
    width: 160px;
  }
   
  .menu ul li ul{
    display: none;
  }
   
  .menu ul li:hover ul{
    display: block;
  }
   
  .menu ul li a{
    text-decoration: none;
    background: #333;
    display: block;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid red;
    border-left: 1px solid #595959;
    padding: 5px;
  }
   
  .menu ul li ul li a{
    background: #595959;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #333;
    font-size: .8em;
  }
   
  .menu li a:hover{
    background: red;
    transition: .5s;
  }
   
  .menu ul li ul li a:hover{
    padding-left: 15px;
    
  }


    footer {
        text-align: center;
        padding: 10px;
        background-color: red;
        color: white;
        font-size: large;
      }